@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);

body {
    background: rgba(252, 251, 249, 0.68);
    font-size: 16px;
    color: #4d4f56;
    font-weight: 400;
    overflow-x: hidden;
}
/* ==========================
*   Typohraphy
============================*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif;
    color: #25282b;
}

a {
    color: #f30;
}

a:hover {
    text-decoration: none;
    color: #ef3b0e
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: #404048;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #eaebeb;
}


/*==================================
* Bootstrap grid tweaks
*===================================*/

.container {
    max-width: 1270px;
    width: 94%;
}


/* Remove space from columns */

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}


/*==================================
* Just simple warppers
*===================================*/

.page-wrapper {
    padding-top: 68px;
    /* Used for inpper pages if navigation fixed to the top */
}

.inner-page {
    margin-top: 30px;
    margin-bottom: 50px
}


/*==================================
* Foms
*===================================*/

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #f30;
    margin-top: 0;
    padding: 10px;
    border-radius: 100%;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 100%;
}

.custom-control-indicator {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 1px 3px rgba(93, 92, 99, 0.05);
    border: 1px solid rgba(116, 135, 150, 0.23);
}

.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #f30;
    box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #f30;
}

.custom-control-input:active~.custom-control-indicator {
    color: #fff;
    background-color: #f30
}

.custom-control-input:disabled~.custom-control-indicator {
    cursor: not-allowed;
    background-color: #eee
}

.custom-control-input:disabled~.custom-control-description {
    color: #767676
}

.custom-control {
    padding-left: 30px;
}

.form-control {
    border: 1px solid #eaebeb;
    border-radius: 2px;
}

.custom-select {
    line-height: 1
}


/* ==========================
*   Buttons
============================*/

.form-control-lg,
.dropdown-menu,
.btn,
.btn-group-lg>.btn,
.btn-lg,
.img-rounded {
    border-radius: 2px
}

.btn {
    transition: all .4s;
}


.theme-btn {
    background-color: #f30;
    border-color: #f30;
    color: #fff
}

.theme-btn{
    background-color: #f30;
    color: #fff;
    border: 1px solid #f30
}

/********* breadcrumb part ***********/

.breadcrumb {
    background: transparent;
    padding: 22px 0;
    border-bottom: 1px solid #e6e6e6;
}

.breadcrumb ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.breadcrumb ul li:before {
    position: absolute;
    left: -25px;
    top: 0;
    content: "/";
}

.breadcrumb ul li:first-child:before {
    content: none;
}

.breadcrumb ul li a,
.breadcrumb ul li {
    color: #333366;
}

.breadcrumb ul,
.breadcrumb {
    margin-bottom: 0;
}

@media (min-width:320px) and (max-width: 568px) {
    .breadcrumb ul li {
        display: inline-block;
        margin-right: 15px;
        position: relative;
    }
    .breadcrumb ul li:before {
        display: none
    }
}